body {
  margin: 0;
}

.polls-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 2vh 4vw 0 4vw;
}
.polls-container a {
  text-decoration: none;
  color: inherit;
  display: block;
}

.poll-card {
  border: 1px solid #000;
  border-radius: 10px;
  margin: 2vh 2vh;
  padding: 1vh;
  width: 32vh;
}
.poll-card .poll-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.poll-card .poll-header h2 {
  margin: 0 1vh 0 0;
  font-weight: normal;
}
.poll-card .poll-header .status-dot-green {
  width: 13px;
  height: 13px;
  background-color: yellow;
  border-radius: 50%;
  display: inline-block;
}
.poll-card .poll-header .status-dot-red {
  width: 13px;
  height: 13px;
  background-color: #720000;
  border-radius: 50%;
  display: inline-block;
}
.poll-card .start, .poll-card .end {
  text-align: start;
  font-size: 2vh;
  margin: 1vh 0.5vh 0 0;
}
.poll-card .end {
  text-align: end;
  margin: 0 0.5vh 1vh 0;
}
.poll-card .votes {
  margin: 0;
  text-align: center;
  font-size: 2.5vh;
}

@media (max-width: 1180px) {
  .polls-container {
    justify-content: center;
    align-items: center;
  }
  .poll-card {
    margin: 2vh auto;
    padding: 1vh;
  }
}
