.poll-container {
  margin: 8vh 4vh 0 4vh;
}
.poll-container input {
  border: none;
  outline: none;
  background: none;
  border-bottom: 2px solid #000;
  padding: 0;
  font-size: 2.5vh;
}
.poll-container input::-moz-placeholder {
  color: #000;
}
.poll-container input::placeholder {
  color: #000;
}
.poll-container .form-top {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  margin: 0 0 20vh 0;
}
.poll-container .form-top .title {
  display: flex;
}
.poll-container .form-top .dates {
  display: flex;
  flex-wrap: wrap;
}
.poll-container .form-top .dates input {
  pointer-events: none;
  margin: 0 2vh 0 2vh;
}
.poll-container .options-container {
  display: grid;
  grid-template-columns: repeat(3, 3fr);
  gap: 15px;
  margin: 0 10vh 6vh 10vh;
}
.poll-container .options-container input {
  border: 2px solid #000;
  border-radius: 50px;
  padding: 0.5vh;
  outline: none;
  background: none;
  font-size: 2.5vh;
}
.poll-container .options-container input::-moz-placeholder {
  color: #000;
}
.poll-container .options-container input::placeholder {
  color: #000;
}
.poll-container .votes {
  display: inline-block;
  background-color: #ffffff;
  color: #000000;
  border: 1px solid black;
  border-radius: 50%;
  width: 3vh;
  height: 3vh;
  font-size: 2vh;
  text-align: center;
  cursor: pointer;
  margin: 20px 0;
}
@media (max-width: 1180px) {
  .poll-container input {
    font-size: 2.5vh;
    width: 70vw;
    margin: 0 auto 3.5vh auto;
  }
  .poll-container .form-top {
    display: flex;
    justify-content: center;
    margin: 0 auto 4vh auto;
  }
  .poll-container .form-top .title input {
    width: 70vw;
  }
  .poll-container .form-top .dates {
    width: 70vw;
  }
  .poll-container .form-top .dates input {
    margin: 0 0 3.5vh 0;
    width: 70vw;
  }
  .poll-container .options-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto 4vh auto;
    width: 75vw;
  }
  .poll-container .options-container .input-field {
    width: 70vw;
  }
  .poll-container .options-container .input-field input {
    width: 60vw;
  }
}
